<%= render 'admin/header' %>

<h1>管理者：ダム一覧</h1>

<% @dams.each do |dam| %>
<div class="one-dam">
	<div>
		<%= link_to dam.title ,admin_dam_path(dam) %>
	</div>
             <% dam.images.each do |image| %>
              <%= image_tag image.to_s %>
              <% break %>
            <% end %>
		<!--<%= attachment_image_tag dam, :image, :fill, 150,150, format:'jpeg' %>-->
	<div>
		<%= dam.body %>
	</div>
	<div>
		[<%= dam.category %>]
	</div>
	<div>
		〒<%= dam.postal_code %>
	</div>
	<div>
		<%= dam.prefecture_code %>
		<%= dam.city %>
		<%= dam.street %>
	</div>
		<i class="far fa-comment"></i><%= dam.post_comments.count %>件
		<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i><%= dam.favorites.count %>件
</div>
<%end%>

