<h1>管理者：ダム一覧</h1>

<% @dams.each do |dam| %>
<div>
	<%= link_to dam.title ,admin_dam_path(dam) %>
	<%= dam.body %>
	<%= dam.category %>
	<%= attachment_image_tag dam, :image, :fill, 100,100, format:'jpeg' %>
</div>
<%end%>
<%=link_to "ダム追加", new_admin_dam_path %>

<%=link_to "管理者ログアウト", destroy_admin_admin_session_path, method: :delete %>
