<%= render 'admin/header' %>

<div class="main">
  <i class="fas fa-building" style="color: green;"></i>
    <a>[<%= @dam.category %>]</a><h1><%= @dam.title %></h1>
        <div class="many_images">
            <% @dam.images.each do |image| %>
              <%= image_tag image.to_s %>
            <% end %>
        </div>
        <div>
           <%= @dam.body %>
        </div>
        <div>
          <i class="fas fa-map-marker-alt"></i>
          〒<%= @dam.postal_code %>
          <%= @dam.prefecture_code %>
          <%= @dam.city %>
          <%= @dam.street %>
        </div>
        <div>
	         外部リンク：<%= link_to @dam.url, @dam.url %>
        </div>
</div>
<div class="clearfix">
    <div id='map' class="<%= @dam.prefecture_code + @dam.city + @dam.street %>"></div>
        <style>
            #map{
              height: 500px;
              width:40%;
            }
        </style>
        <script>
        /*
        mapを関数の外で定義(codeAddressでも使うため)
        geocoderを用意
        */

        let map
        let geocoder

        function initMap(){
          // geocoderを初期化
          geocoder = new google.maps.Geocoder();
          geocoder.geocode( { 'address': $('#map').attr('class')}, function(results, status) {
            if (status == 'OK') {
        		// map.setCenterで地図が移動
              map.setCenter(results[0].geometry.location);

        		// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
              var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location
              });
            } else {
              alert('Geocode was not successful for the following reason: ' + status);
            }
          });

          map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
          });
        }

        function codeAddress(){
          // 入力を取得
          let inputAddress = document.getElementById('address').value;

          // geocodingしたあとmapを移動
        }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['SECRET_KEY'] %>&callback=initMap" async defer></script>

    </div>
</div>
<div class="submain">
  <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
          <%= @dam.favorites.count %>

    <p><i class="far fa-comment"></i>評判</p>
  		<% @dam.post_comments.each do |post_comment| %>
  			<div>
  				<%= post_comment.created_at.strftime('%Y/%m/%d') %>
  				<%= post_comment.user.name %>さん
  				<%= post_comment.comment %>
          <i class="far fa-trash-alt"></i>
  			    <%= link_to "コメント削除", admin_dam_path(@dam), method: :delete  %>
            <% end %>
  			</div>
  <div>
    <i class="far fa-trash-alt"></i>
    <%=link_to "ダム削除", admin_dam_path(@dam.id), method: :delete, "data-confirm"=>"本当に削除しますか？"%>
  </div>
    <%=link_to "ダム一覧へ", admin_dams_path %>
</div>