<% dams.each do |dam| %>
<div class="one-dam">
	<div>
		<%= link_to dam.title ,dam_path(dam) %>
	</div>
	<div class="image">
        <% dam.images.each do |image| %>
            <%= image_tag image.to_s %>
            <% break %>
        <% end %>
	</div>
	<div>
		<%= dam.body %>
		<%= dam.category %>
	</div>
	<div>
		〒<%= dam.postal_code %>
	</div>
	<div>
		<%= dam.prefecture_code %>
		<%= dam.city %>
		<%= dam.street %>
	</div>
	<div>コメント数:<%= dam.post_comments.count %>件</div>
</div>
<%end%>