<%= render 'admin/header' %>

<% if user_signed_in? %>
  <div class="search-form" style="margin-top: 70px; text-align: center;">
    <%= form_tag(searches_search_path, method: :get) do %>
      <%= text_field_tag 'search[content]' %>
      <%= submit_tag '検索' %>
    <% end %>
  </div>
<% end %>

<h1>ダム一覧</h1>

<% @dams.each do |dam| %>
<div class="one-dam">
	<div>
		<%= link_to dam.title ,dam_path(dam) %>
	</div>
	<div class="image">
        <% dam.images.each do |image| %>
            <%= image_tag image.to_s %>
            <% break %>
        <% end %>
	</div>
	<div>
		<%= dam.body %>
	</div>
	<div>
		[<%= dam.category %>]
	</div>
	<div>
		〒<%= dam.postal_code %>
	</div>
	<div>
		<%= dam.prefecture_code %>
		<%= dam.city %>
		<%= dam.street %>
	</div>
	<i class="far fa-comment"></i><%= dam.post_comments.count %>件
	<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i><%= dam.favorites.count %>件
</div>
<%end%>

