<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>

<% if user_signed_in? %>
  <div class="search-form" style="margin-top: 70px; text-align: center;">
    <%= form_tag(searches_search_path, method: :get) do %>
      <%= text_field_tag 'search[content]' %>
      <%= select_tag 'search[method]', options_for_select({ "完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial" }) %>
      <%= submit_tag '検索' %>
    <% end %>
  </div>
<% end %>

<h1>ダム一覧</h1>

<% @dams.each do |dam| %>
<div class="one-dam">
	<div>
		<%= link_to dam.title ,dam_path(dam) %>
	</div>
		<%= attachment_image_tag dam, :image, :fill, 150,150, format:'jpeg' %>
	<div>
		<%= dam.body %>
		<%= dam.category %>
	</div>
	<div>
		〒<%= dam.postal_code %>
	</div>
	<div>
		<%= dam.prefecture_code %>
		<%= dam.city %>
		<%= dam.street %>
	</div>
	<div>コメント数:<%= dam.post_comments.count %>件</div>
</div>
<%end%>

